/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #056ebb;
  --ifm-color-primary-dark: #0563a8;
  --ifm-color-primary-darker: #045e9f;
  --ifm-color-primary-darkest: #044d83;
  --ifm-color-primary-light: #0679ce;
  --ifm-color-primary-lighter: #067fd7;
  --ifm-color-primary-lightest: #078ff3;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #3687d3;
  --ifm-color-primary-dark: #2b7ac4;
  --ifm-color-primary-darker: #2873b9;
  --ifm-color-primary-darkest: #215f98;
  --ifm-color-primary-light: #4c94d8;
  --ifm-color-primary-lighter: #579ada;
  --ifm-color-primary-lightest: #77aee1;
}
